<div class="row">
    <div class="col-2 pb-3">
        <!-- Event properties dropdown -->
        <app-select-input [options]="propertiesDropdown.options" [selectedOption]="propertiesDropdown.selectedOption" (change)="onPropertyChange($event)"></app-select-input>
    </div>
    <div class="col-3 pb-3">
        <!-- Property operators dropdown -->
        <app-operator-select [stringOperators]="constraintsDropdown.string" [numberOperators]="constraintsDropdown.number" (change)="onOperatorChange($event)"></app-operator-select>
    </div>
    <div class="col-3 pb-3">
        <!-- Operand field 1 -->
        <div class="form-group">
            <input [(ngModel)]="operand.first" type="text" class="form-control">
        </div>
    </div>
    <div *ngIf="showSecondOperand()" class="col-3 pb-3">
        <!-- Optionally operand field 2 -->
        <div class="form-group">
            <input [(ngModel)]="operand.second" type="text" class="form-control">
        </div>
    </div>
    <div class="col-1 pb-3" *ngIf="showRemoveIcon()">
        <fa-icon [icon]="removeIcon" (click)="onRemove()" class="pointer remove-icon"></fa-icon>
    </div>
</div>
