.grid-align {
    padding-left: 30px;
}

.name-input {
    display: inline;
    max-width: 250px;
}

.text-blue {
    color: dodgerblue;
}

.edit-name-icon {
    font-size: 1rem;
}

.edit-step-icons fa-icon {
    font-size: 1.25rem;
    color: #b3d7ff;
    margin-left: 0.75rem;
    transition: color .3s ease;
}

.edit-step-icons fa-icon:hover {
    color: dodgerblue;
}