<div class="container-fluid">
    <div class="row">
        <div class="col">
            <span class="h5 text-uppercase text-blue">{{filterStepIndex + 1}}. step: </span>
            <span *ngIf="filterStep.name && !editingName" class="h5 ml-2">
                {{filterStep.name}}
                <fa-icon [icon]="pencilIcon" (click)="onEditName()" class="ml-2 pointer"></fa-icon>
            </span>
            <input *ngIf="editingName" [(ngModel)]="filterStep.name" type="text" class="form-control name-input" (focusout)="onSaveName()">
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-3">
            <!-- Events dropdown -->
            <app-select-input *ngIf="eventDropdown" [options]="eventDropdown.options" [selectedOption]="eventDropdown.selectedOption" (change)="onEventChange($event)"></app-select-input>
        </div>
        <div class="col-10 pt-3">
            <div class="container-fluid">
                <app-property-filter *ngFor="let filter of filterStep.filter; let i=index" 
                                     [filterIndex]="i"
                                     [filterStepIndex]="filterStepIndex"></app-property-filter>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-2 grid-align">
            <a href="javascript:;" (click)="onRefineMore()">Refine more</a>
        </div>
    </div>
</div>